.orbit-wrapper {
  position: relative;
  height: 100vh;
  background: radial-gradient(circle at center, #021414, #000);
  overflow: hidden;
}

/* ORBIT */
.orbit-container {
  position: relative;
  width: 100%;
  height: 100%;
}

/* RINGS */
.orbit-ring {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px solid rgba(0,255,200,0.2);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: rotate linear infinite;
  pointer-events: none; /* 🔥 FIX CLICK ISSUE */
}

/* ROTATION */
@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

/* ITEM WRAPPER */
.orbit-item-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
}

/* ITEM */
.orbit-item {
  transform: translate(-50%, -50%);
  padding: 10px 16px;
  background: rgba(0,255,200,0.1);
  border: 1px solid rgba(0,255,200,0.3);
  border-radius: 30px;
  color: #00ffc8;
  cursor: pointer;
  font-size: 11px;
  width: 80%;
  text-align: center;

  pointer-events: auto; /* 🔥 IMPORTANT */
}

/* HOVER */
.orbit-item:hover {
  background: #00ffc8;
  color: black;
}

/* PAUSE */
.paused {
  animation-play-state: paused !important;
}

/* CASE STUDY */
.case-study {
  position: absolute;
  inset: 0;
  background: black;
  opacity: 0;
  transition: 0.5s;
  pointer-events: none;
}

.case-study.show {
  opacity: 1;
  pointer-events: auto;
}

/* HEADER */
.case-header {
  padding: 20px;
}